{# Twig Template for BVisa Discovery Page 1 #}

{{ title }}
{{ body }}


{#<div class="container-fluid bg-info text-center">#}
        {#<div class="col-sm-8">#}
            {#<h2>{{ title }}</h2>#}
            {#<h4>{{ body }}</h4>#}
        {#</div>#}
        {#<div class="col-sm-4">#}
            {#<span class="glyphicon glyphicon-knight page_logo"></span>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="container-fluid bg-warning text-center">#}
    {#<div class="row">#}
        {#<div class="col-sm-12">#}
            {#<h3>{{ body }}</h3>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="container-fluid bg-danger text-center">#}
    {#<div class="row">#}
        {#<div class="col-sm-4">#}
            {#<span class="glyphicon glyphicon-knight page_logo"></span>#}
        {#</div>#}
        {#<div class="col-sm-8">#}
            {#<h2>{{ title }}</h2>#}
            {#<h4>{{ body }}</h4>#}
        {#</div>#}
    {#</div>#}
{#</div>#}


